body {
    font-family: 'Arial', sans-serif;
    background-color: #A1CDA8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #627264;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    font-size: 3.5em;
    margin-bottom: 10px;
}

h2 {
    color: #0A100D;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: 8px solid #FE4A49;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

textarea {
    height: 80px; /* Altezza fissa per il textarea */
}

input[type="text"]:focus, textarea:focus {
    border-color: #922b2b;
    outline: none;
}

button {
    background-color: #FE4A49;
    color: white;
    padding: 10px 15px;
    border: 8px solid #FE4A49;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #922b2b;
}

.recipes-list {
    margin-top: 20px;
}

.recipe-item {
    border: 8px solid #C5E7E2;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

.recipe-item:hover {
    background-color: #C5E7E2;
}

.recipe-item h3 {
    margin: 0 0 10px;
    color: #627264;
}

.recipe-item p {
    margin: 0;
    color: #FE4A49;
}

.recipe-item h5 {
    margin: 0;
    color: #5c5c5c;
}

.allergens {
    color: #FF5722;
    font-weight: bold;
    margin-top: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.table-container {
    margin-top: 20px;
    display: none; /* Nasconde inizialmente la tabella */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #e0e0e0;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #C5E7E2;
    color: black;
}
